/* Ubah warna tema */
/* Warna di bawah ini adalah default, silakan diubah nilai warnanya sesuai selera */

:root {
  --primary-color: #2E86AB;
  --secondary-color: #F18F01;
  --tertiary-color: #68618F;
}